<h1>Clock+</h1>
<h4>Clock built by Minh Le s3722599, Attempted Grade: HD80+, Tutor group: 8:30-10:30am Monday</h4>
<div class="col-md-2 left">
    <p><i class="fa fa-circle" style="color:green;"></i>Business Time</p>
    <p><i class="fa fa-circle" style="color:yellow;"></i>Business Overtime</p>
    <p><i class="fa fa-circle" style="color:red;"></i>Personal Time</p>
    <p><i class="fa fa-bed"></i>Sleep Time</p>
    <label for="myCheck">12hr clock</label> 
    <input type="checkbox" id="myCheck" onclick="myFunction()">
    <br />
    <b>modes</b>
    <br />
    <button class = "btn btn-warning" onclick = "darkmode()"> </button>
    <button class = "btn btn-success" onclick = "crazymode()"> </button>
    <button class = "btn btn-default" onclick = "whitemode()"> </button>
</div>
<div class="col-md-8 center blackBorder">
    <div id = "zoneList">
        <div id = "isemptystate" style="display:none;">Add more!</div>
        <% @zones.each do |zone| %>
            <%= render zone%>
        <%end%>
    <button id = "plus" onclick="toAdd()"><i class="fa fa-plus fa-3x"></i></button>
    </div>
    
    <div id = "searchTab" style="display:none;">
        <input type="text" id="myInput" oninput="toSearch()">
        <button class="btn btn-warning" onclick ="toCancel()">cancel</button>
        <div id = "sresult">
        </div>
    </div>
</div>
<%# <div class= "col-md-2 right">
    <label for="myCheck">12hr clock</label> 
    <input type="checkbox" id="myCheck" onclick="myFunction()">
</div> %>

<script>
function myFunction() {
  var checkBox = document.getElementById("myCheck");
  var twfour = document.getElementsByClassName("24hr");
  var twelve = document.getElementsByClassName("12hr");
  if (checkBox.checked == true){
      for(var i = 0; i < twfour.length; i++) {
          twelve.item(i).style.display = "block";
      }
        for(var i = 0; i < twfour.length; i++) {
          twfour.item(i).style.display = "none";
      }
  } else {
      for(var i = 0; i < twfour.length; i++) {
          twelve.item(i).style.display = "none";
      }
        for(var i = 0; i < twfour.length; i++) {
          twfour.item(i).style.display = "block";
      }
  }
}
function toAdd() {
    document.getElementById("zoneList").style.display = "none";
    document.getElementById("searchTab").style.display = "block";
}

function toCancel() {
    document.getElementById("zoneList").style.display = "block";
    document.getElementById("searchTab").style.display = "none";
}


function toSearch() {
    var x = document.getElementById("myInput").value;
    var items = document.getElementsByClassName("hidden");
    var thisDiv = "";
    var count = 0;
    for(var i = 0; i < items.length; i++) {
        var str = items.item(i).id;
        if(count == 5) {
            break;
        }
        if(str.toLowerCase().includes(x)) {
            thisDiv += '<div class = "clickable"' + "onclick="+ '"adding(' + "this" +')"'+ '>' + str + '</div>';
            count++;
        }
        if(x == "") {
            thisDiv = "";
            break;
        }
    }
    document.getElementById("sresult").innerHTML = thisDiv;
}

function adding(ans) {
    console.log(ans.innerHTML)
    var a = document.getElementById(ans.innerHTML);
    a.style.display = "block";
    a.className = "Zones"
    document.getElementById('isemptystate').style.display = 'none';
    toCancel();
}

function darkmode() {
   var element = document.body;
   element.classList.toggle("dark-mode"); 
}
function crazymode() {
   var element = document.body;
   element.classList.toggle("crazy-mode");
}

function whitemode() {
   var element = document.body;
   element.classList.toggle("white-mode");
}

</script>