<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
    <ul class="nav navbar-nav navbar-left">
        <a class="navbar-brand">+Clock</a>
     </ul>
      <ul class="nav navbar-nav navbar-right">
        <%= link_to "Showcase", home_path, class:"btn btn-success" %>
        <%= mail_to "minhle46@gmail.com", 'Contact Us', class:"btn btn-success" %>
      </ul>
    </nav>
  </div>
</header>